body {
    background-image: url("http://cs-server.usc.edu:45678/hw/hw3/images/background.png");
    background-repeat: repeat-x;
    margin-top: 0 !important;
    margin: auto auto;
    min-width: 940px;
    background-size: 1px 1024px;
    background-color: #FCFAE7;
}

div.head {
    position: relative;
    background-repeat: no-repeat;
    background-image: url("http://cs-server.usc.edu:45678/hw/hw3/images/main.jpg");
    overflow: hidden;
    position: relative;
    margin: auto auto;
    width: 900px;
    height: 354px;
    background-position: center center;
}

div.head div.heading {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    display: inline-block;
    bottom: 75px;
    right: 70px;
    margin: 0 auto;
    font-weight: bold;
    text-align: justify;
}

div.head div.heading #yellow {
    font-size: 2em;
    color: #AC9800;
}

div.head div.heading #flower {
    font-size: 2em;
    color: #F3D861;
}

div.head div.heading #site {
    font-size: 25px;
    color: #776A00;
}

div.top-nav2 {
    overflow: hidden;
    background: url("http://cs-server.usc.edu:45678/hw/hw3/images/menu.png");
    position: relative;
    height: 69px;
    margin: auto auto;
    width: 940px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}


/*#color-overlay {
        background-repeat: no-repeat;

    position: absolute;
    top: 50px;
    left: 0;
    width: 20px;
    float: left;
    height: 100%;
background: linear-gradient(45deg, #FDF9DD 0%,#FDF9DD 50%, rgba(255,0,0,0) 51%,rgba(255,0,0,0) 100%);
    opacity: 0.6;
}

#color-overlay2 {
        background-repeat: no-repeat;

    position: absolute;
    top: 50px;
    right: 0;
    width: 20px;
    float: right;
    height: 100%;
background: linear-gradient(45deg, #9A4805 0%,#9A4805 50%, #FDF9DD 51%,#FDF9DD 100%);
    opacity: 0.6;
    z-index: 2;
}

*/

#color-overlay {
    position: absolute;
    top: 50px;
    left: 0;
    width: 20px;
    float: left;
    height: 20px;
    border-left: 20px solid #FDF9D9;
    border-top: 20px solid transparent;
    z-index: 2;
}

#color-overlay2 {
    position: absolute;
    top: 50px;
    right: 0;
    width: 20px;
    float: right;
    height: 20px;
    border-right: 20px solid #FDF9D9;
    border-top: 20px solid transparent;
    z-index: 2;
}


/*
#color-overlay {
    position: absolute;
    top: 50px;
    left: 0;
    width: 20px;
    float: left;
    height: 20px;
    background-color: #FDF9D9;
    z-index: 2;
    opacity: 0.6;
}

#color-overlay2 {
    position: absolute;
    top: 50px;
    right: 0;
    width: 20px;
    float: right;
    height: 20px;
    background-color: #FDF9D9;
    z-index: 2;
    opacity: 0.6;
}
*/

div.nav_content {
    overflow: hidden;
    width: 900px;
    background-color: white;
    position: relative;
    margin: auto auto;
}

div.nav_content h1,
p {
    font-family: "Times New Roman", Times, serif;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    white-space: normal;
    font-size-adjust: auto;
}

div.nav_content p span {
    font-size: 18px;
    white-space: normal;
    font-weight: bold;
}

div.nav_content #nav-head {
    font-size: 25px;
    padding-left: 1%;
    white-space: normal;
    font-weight: bold;
}

#insidelink {
        text-decoration: none;

    font-family: "Times New Roman", Times, serif;
    color: #f1d600;
    font-weight: bold;
}

#insidelink2 {
        text-decoration: none;

    display: inline-block;
    margin: 0 auto;
    width: 900px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
}

ul.top-nav {
    /*
    display: block;
*/
    padding-left: 5.5%;
    display: table;
    overflow: hidden;
    width: 90%;
}

ul.top-nav li {
    /*
    width: 15%;
*/
    align-content: space-around;
    margin: auto auto;
    /*
    display: inline-block;
*/
    display: table-cell;
}

ul.top-nav li a:link,
a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

ul.top-nav li a span {
    display: block;
    font-size-adjust: auto;
    height: auto;
    font-weight: bolder;
    font-size: 18px;
        text-decoration: none;

}

ul.top-nav li a:hover  span {
        text-decoration: none;

    background-color: #F2CB39;
}